@page "/books"
@using SelfServiceLibrary.Service.Services
@using SelfServiceLibrary.Domain.DTO.Book
@inject BookService Service

<h1>Books</h1>

@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Table>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>Book Name</TableHeaderCell>
                <TableHeaderCell>Available</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var book in books)
            {
                <TableRow>
                    <TableRowCell>@book.Name</TableRowCell>
                    <TableRowCell>@book.IsAvailable</TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
}

@code {
    private List<BookListDTO> books;

    protected override async Task OnInitializedAsync()
    {
        books = await Service.GetAll();
    }
}
