@page "/profile"
@attribute [Authorize]

<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Light"
     ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        Profile
    </BarBrand>
</Bar>

<AuthorizeView>
    <Authorized>
        You can only see this if you're authenticated.
        <h1>User: @context.User.Identity.Name</h1>
        <ul>
            @foreach(var claim in context.User.Claims)
            {
                <li>@claim.Value -- @claim.Type</li>
            }
        </ul>
    </Authorized>
    <NotAuthorized>
        You're not logged in.
    </NotAuthorized>
</AuthorizeView>

<Container Fluid="true">
    <h2>ID Cards</h2>
    <CardDeck>
        <Card>
            <CardBody>
                <CardTitle Size="5">ISIC</CardTitle>
                <CardText>
                    123456789
                </CardText>
                <Button Color="Color.Primary">Edit</Button>
                <Button Color="Color.Danger">Remove</Button>
            </CardBody>
        </Card>
        <Card>
            <CardBody>
                <CardTitle Size="5">CVUT</CardTitle>
                <CardText>
                    123456789
                </CardText>
                <Button Color="Color.Primary">Edit</Button>
                <Button Color="Color.Danger">Remove</Button>
            </CardBody>
        </Card>
        <Card>
            <CardBody>
                <Button Color="Color.Success" Size="Size.ExtraLarge" Block="true" style="height: 100%">Add</Button>
            </CardBody>
        </Card>
    </CardDeck>
</Container>