@page "/sign-in"
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavManager

<ul>
    @foreach (var parameter in QueryHelpers.ParseQuery(NavManager.ToAbsoluteUri(NavManager.Uri).Query))
    {
        <li>@(parameter.Key) @(parameter.Value)</li>
    }
</ul>