@using SelfServiceLibrary.Web.Extensions
@using SelfServiceLibrary.Web.Policies
@using SelfServiceLibrary.BL.DTO.Issue
@using SelfServiceLibrary.BL.DTO.User
@using SelfServiceLibrary.BL.Interfaces
@using Microsoft.AspNetCore.Components.Authorization

@attribute [Authorize(Policy = LibrarianPolicy.NAME)]

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IBookService bookService
@inject IIssueService issueService
@inject IUserService userService
@inject IGuestService guestService
@inject IUserContextService userContextService
@inject NavigationManager uriHelper

<Modal @ref="modalRef">
    <ModalContent IsCentered="true" Size="ModalSize.ExtraLarge">
        <ModalHeader>
            <ModalTitle>Borrow to</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Tabs @bind-SelectedTab="tab">
                <Items>
                    <Tab Name="ctu">CTU</Tab>
                    <Tab Name="external">External</Tab>
                </Items>
                <Content>
                    <TabPanel Name="ctu" Padding="Padding.Is3">
                        <FieldHelp>Search person inside CTU by their name</FieldHelp>
                        <!-- USERMAP search https://rozvoj.fit.cvut.cz/Main/usermap-api -->
                        <PersonPicker @bind-Selected="issuedTo" Suggestions="ctuSuggestions" SearchChanged="UpdateUsersSuggestions" />
                    </TabPanel>
                    <TabPanel Name="external" Padding="Padding.Is3">
                        <FieldHelp>Search person outside CTU by their name</FieldHelp>
                        <PersonPicker @bind-Selected="issuedTo" Suggestions="externalSuggestions" SearchChanged="UpdatePersonSuggestions" />
                    </TabPanel>
                </Content>
            </Tabs>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            <AuthorizeView Policy="@LibrarianPolicy.NAME">
                <Button Disabled="@(issuedTo == null)" Color="Color.Success" Clicked="@Borrow">Confirm</Button>
            </AuthorizeView>
        </ModalFooter>
    </ModalContent>
</Modal>

<SnackbarStack @ref="snackbarStack" Location="SnackbarStackLocation.Center" />

@code {
    private string tab = "ctu";
    private SnackbarStack snackbarStack = new SnackbarStack();
    private Modal modalRef = new Modal();

    private UserInfoDTO? issuedTo;
    private List<UserInfoDTO> ctuSuggestions = new List<UserInfoDTO>();
    private List<UserInfoDTO> externalSuggestions = new List<UserInfoDTO>();

    [Parameter]
    public EventCallback OnBorrowed { get; set; }

    [Parameter]
    public string? DepartmentNumber { get; set; }

    [CascadingParameter]
    protected MainLayout? Main { get; set; }

    private async Task UpdateUsersSuggestions(string? value)
    {
        if (!string.IsNullOrEmpty(value))
        {
            ctuSuggestions = await userContextService.Suggest(value);
        }
        else
        {
            ctuSuggestions.Clear();
        }
    }

    private async Task UpdatePersonSuggestions(string? value)
    {
        if (!string.IsNullOrEmpty(value))
        {
            externalSuggestions = await guestService.Suggest(value ?? string.Empty);
        }
    }

    private async Task Borrow()
    {
        if (issuedTo != null && !string.IsNullOrEmpty(DepartmentNumber))
        {
            var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var librarian = state.User.Claims.GetUserBasicInfo();
            var details = new IssueCreateDTO
            {
                DepartmentNumber = DepartmentNumber,
                ExpiryDate = DateTime.UtcNow.AddDays(30)
            };

            if (await Main.ExecuteSafe(() => issueService.Borrow(issuedTo, details, librarian)))
            {
                HideModal();
                await OnBorrowed.InvokeAsync();
            }
        }
    }

    public void Show() =>
        modalRef.Show();

    private void HideModal() =>
        modalRef.Hide();
}
