<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Issue expired</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
    <h1>Issue has expired</h1>
    You forgot to return a book you borrowed called {Name}. Please make sure to return the book as soon as possible.
    <h2>Book details</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>{Name}</th>
        </tr>
        <tr>
            <td>ID</td>
            <td>{DepartmentNumber}</td>
        </tr>
        <tr>
            <td>Author</td>
            <td>{Author}</td>
        </tr>
        <tr>
            <td>Co-Authors</td>
            <td>{CoAuthors}</td>
        </tr>
    </table>
</div>
</body>
</html>