<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Book is available again</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
    <h1>Book is available again</h1>
    Book you were interested in called <b>{Name}</b> has been returned to the library and is available again.
    <h2>Book details</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>{Name}</th>
        </tr>
        <tr>
            <td>Author</td>
            <td>{Author}</td>
        </tr>
        <tr>
            <td>Co-Authors</td>
            <td>{CoAuthors}</td>
        </tr>
        <tr>
            <td>Keywords</td>
            <td>{Keywords}</td>
        </tr>
        <tr>
            <td>Review</td>
            <td>Average: {ReviewsAvg}/10, reviewed by {ReviewsCount}</td>
        </tr>
    </table>
</div>
</body>
</html>